<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:pink">
<h1 style="color:purple;text-align:center;font-size:350%">Registration</h1>
<form style="text-align:center;font-size:200%" action="register" method="post">
    {% csrf_token %}
    <input style="font-size:70%" type="text" name="username" placeholder="Enter your Username"><br>
    <input style="font-size:70%" type="text" name="first_name" placeholder="Enter your first name"><br>
    <input style="font-size:70%" type="text" name="last_name" placeholder="Enter your last name"><br>
    <input style="font-size:70%" type="email" name="email" placeholder="Enter your email id"><br>
    <input style="font-size:70%" type="password" name="password" placeholder="Enter your password"><br>
    <input style="font-size:70%" type="password" name="password1" placeholder="Confirm your password"><br>
    <input style="font-size:50%;background-color:green" type="submit" value="Register">


</form>
{% for msg in messages %}
<h1>{{msg}}</h1>
{% endfor %}
</body>
</html>